USE [PRJ301_Morning_B5_Summer2022]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 8/16/2022 11:09:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[eid] [int] NOT NULL,
	[ename] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[eid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSheet]    Script Date: 8/16/2022 11:09:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSheet](
	[tid] [int] IDENTITY(1,1) NOT NULL,
	[eid] [int] NOT NULL,
	[checkin] [datetime] NOT NULL,
	[checkout] [datetime] NOT NULL,
 CONSTRAINT [PK_TimeSheet] PRIMARY KEY CLUSTERED 
(
	[tid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Employee] ([eid], [ename]) VALUES (1, N'mr A')
INSERT [dbo].[Employee] ([eid], [ename]) VALUES (2, N'mr B')
INSERT [dbo].[Employee] ([eid], [ename]) VALUES (3, N'Mr C')
GO
SET IDENTITY_INSERT [dbo].[TimeSheet] ON 

INSERT [dbo].[TimeSheet] ([tid], [eid], [checkin], [checkout]) VALUES (1, 1, CAST(N'2022-08-05T08:00:00.000' AS DateTime), CAST(N'2022-08-05T17:00:00.000' AS DateTime))
INSERT [dbo].[TimeSheet] ([tid], [eid], [checkin], [checkout]) VALUES (2, 1, CAST(N'2022-08-06T08:00:00.000' AS DateTime), CAST(N'2022-08-06T17:00:00.000' AS DateTime))
INSERT [dbo].[TimeSheet] ([tid], [eid], [checkin], [checkout]) VALUES (3, 1, CAST(N'2022-08-07T08:00:00.000' AS DateTime), CAST(N'2022-08-07T17:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[TimeSheet] OFF
GO
ALTER TABLE [dbo].[TimeSheet]  WITH CHECK ADD  CONSTRAINT [FK_TimeSheet_Employee] FOREIGN KEY([eid])
REFERENCES [dbo].[Employee] ([eid])
GO
ALTER TABLE [dbo].[TimeSheet] CHECK CONSTRAINT [FK_TimeSheet_Employee]
GO
